#loder-wraper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: azure;
    z-index: 1000;
}

#loder-wraper .loader-section .section-left {
    left: 0;
}

#loder-wraper .loader-section .section-right {
    right: 0;
}

#loder{
    z-index: 1001;
}